* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

.image-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
    flex: 1;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

/* Tab container */
.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-container button {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #007bff;
    background-color: #ffffff;
    color: #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 8px 0 0 8px;
    outline: none;
}

.tab-container button + button {
    border-radius: 0 8px 8px 0;
}

.tab-container button.selected {
    background-color: #007bff;
    color: white;
}

.tab-container button:hover {
    background-color: #0056b3;
    color: white;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

input,
select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
}

input:focus,
select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}

button {
    padding: 12px;
    background-color: #f7f984;
    color: rgb(60, 9, 224);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #92c1f3;
}

.date-input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
}

.date-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
    }

    .image-container {
        margin-bottom: 20px;
    }
}
